<%- include partials/header.ejs %>

<body id="gradiente" >
    <%- include partials/navbar.ejs %>
    <div class="containerflex">
        <div class="box">
        <form class="form-control" method="POST" action="/salvarpergunta">
            <h3 class="text-danger" align="center">Débito</h3>
            <br><label class="fw-bolder">Descrição da conta</label>
            <input  type="text" placeholder="Título" class="form-control" name="titulo">
            <br><label class="fw-bolder">Valor</label>
            <input placeholder="informe o valor" class="form-control" name="descricao">
            <br>
            <button class="btn btn-primary" style="left:auto">Incluir</button>
            <button class="btn btn-success" style="left:auto">Alterar</button>
            <button  class="btn btn-dark" style="float:right">Excluir</button>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>
            <h1>hfjdhfshdf</h1>

        </form>    
    </div>
        <div class="box">
            <form class="form-control" method="POST" action="/salvarpergunta">
                <h3 class="text-primary" align="center">Crédito</h3>
                    <br><label class="fw-bolder f">Descrição da conta</label>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <br><label class="fw-bolder">Valor</label>
                    <input type="text" placeholder="informe o valor" class="form-control" name="descricao">
                    <br>
                    <button class="btn btn-primary" style="left:auto">Incluir</button>
                    <button class="btn btn-success" style="left:auto">Alterar</button>
                    <button  class="btn btn-dark" style="float:right">Excluir</button>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                    <h1>hfjdhfshdf</h1>
                
                </form>    
            </div>
    </div>
    
</body>

<%- include partials/footer.ejs %>
