<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<body class=" bg-gradient">
<div class="container w-25 ">
    <hr>
    <div class="card ">
        <div class="card-header">
            <h2>criação de usuario</h2>
        </div>
        <div class="card-body">
            <form>
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com">
                <input class="form-control" name="password" type="password" placeholder="***********"><br>
                <button type="submit" class=" btn btn-success btn-block" >Criar</button>
            </form>
        </div>
    </div>
</div>
</body>
<%- include ../../partials/footer.ejs %>
